{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="slider">
            <div id="slider" class="flexslider">
                <ul class="slides">
                    {% for hotel in hotel_list %}
                        <li>
                            <img src="{{ hotel.photo.url }}" alt="">
                            <div class="meta">
                                <h3>{{ hotel.hotel_name }}</h3>
                                <div class="info">
                                    <p>{{ hotel.hotel_description }}</p>
                                </div>
                                <a href="#0" class="btn_1">Read more</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div id="icon_drag_mobile"></div>
            </div>
            <div id="carousel_slider_wp">
                <div id="carousel_slider" class="flexslider">
                    <ul class="slides">
                        {% for hotel in hotel_list %}
                            <li>
                                <img src="{{ hotel.photo.url }}" alt="">
                                <div class="caption">
                                    <h3><strong>{{ hotel.district }}</strong></h3>
                                    <small>{{ hotel.email }}<strong id="weather" class="weather"></strong></small>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        {#        <div class="search_container">#}
        {#            <div class="container">#}
        {#                <div class="col-lg-12">#}
        {#                    <div class="row no-gutters custom-search-input-2 inner">#}
        {#                        <div class="col-lg-4">#}
        {#                            <div class="form-group">#}
        {#                                <input class="form-control" type="text" placeholder="What are you looking for...">#}
        {#                                <i class="icon_search"></i>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-lg-3">#}
        {#                            <div class="form-group">#}
        {#                                <input class="form-control" type="text" placeholder="Where">#}
        {#                                <i class="icon_pin_alt"></i>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-lg-3">#}
        {#                            <select class="wide">#}
        {#                                <option>All Categories</option>#}
        {#                                <option>Churches</option>#}
        {#                                <option>Historic</option>#}
        {#                                <option>Museums</option>#}
        {#                                <option>Walking tours</option>#}
        {#                            </select>#}
        {#                        </div>#}
        {#                        <div class="col-lg-2">#}
        {#                            <input type="submit" class="btn_search" value="Search">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <!-- /row -->#}
        {#                </div>#}
        {#                <!-- /custom-search-input-2 -->#}
        {#            </div>#}
        {#        </div>#}
        <!-- /search_container -->

        <div class="container-fluid margin_60_0">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>Transports</h2>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            </div>
            <div id="reccomended" class="owl-carousel owl-theme">
                {% for transport in transport_list %}


                    <div class="item">
                        <div class="box_grid">
                            <figure>
                                <a href="#0" class="wish_bt"></a>
                                <a href="#"><img src="{{ transport.photo.url }}" class="img-fluid" alt=""
                                                                width="800"
                                                                height="533">
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small>{{ transport.user }}</small>
                            </figure>
                            <div class="wrapper">
                                <h3><a href="tour-detail.html">{{ transport.tran_name }}</a></h3>
                                <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti
                                    cu.</p>
                                <span class="price">Owner Phone <strong>{{ transport.owner_phone }}</strong></span>
                            </div>
                            <ul>
                                <li>Fastest Car</li>
                                <li>
                                    <div class="score">
                                        <span>Capacity <em>Car</em></span><strong>{{ transport.capacity }}</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /carousel -->
            <div class="container">
{#                <p class="btn_home_align"><a href="tours-grid-isotope.html" class="btn_1 rounded">View all Tours</a></p>#}
            </div>
            <!-- /container -->
            <hr class="large">
        </div>
        <!-- /container -->

        <div class="container-fluid margin_30_95 pl-lg-5 pr-lg-5">
            <section class="add_bottom_45">
                <div class="main_title_3">
                    <span><em></em></span>
                    <h2>Companies</h2>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>
                <div class="row">
                    {% for company in company_list %}
                        <div class="col-xl-3 col-lg-6 col-md-6">
                        <a href="#" class="grid_item">
                            <figure>
                                <div class="score"><strong>Manager {{ company.manager }}</strong></div>
                                <img src="{% static 'img/company.jpeg' %}" class="img-fluid" alt="">

                                <div class="info">
                                    <h3>{{ company.company_name }}</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                        <!-- /grid_item -->
                    {% endfor %}
                </div>
                <!-- /row -->
{#                <a href="hotels-grid-isotope.html"><strong>View all (157) <i#}
{#                        class="arrow_carrot-right"></i></strong></a>#}
            </section>
            <!-- /section -->
        </div>
        <!-- /container -->

        <div class="bg_color_1">
            <div class="container margin_80_55">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h3>Latest Events</h3>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>
                <div class="row">
                    {% for event in event_list %}
                        <div class="col-lg-6">
                            <a class="box_news" href="#0">
                                <figure><img src="{{ event.photo.url }}" alt="">
                                    <figcaption><strong>{{ event.date|date:'j' }}</strong>{{ event.date|date:'N' }}
                                    </figcaption>
                                    <div class="cat_star">
                                    </div>
                                </figure>
                                <ul>
                                    <li>{{ event.user }}</li>
                                    <li>{{ event.date }}</li>
                                </ul>
                                <h4>{{ event.event_name }}</h4>
                                <p>{{ event.event_description }}</p>

                            </a>
                        </div>
                    {% endfor %}
                </div>
                <!-- /row -->
{#                <p class="btn_home_align"><a href="blog.html" class="btn_1 rounded">View all news</a></p>#}
            </div>
            <!-- /container -->
        </div>
        <!-- /bg_color_1 -->

        <div class="call_section">
            <div class="container clearfix">
                <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
                    <div class="block-reveal">
                        <div class="block-vertical"></div>
                        <div class="box_1">
                            <h3>Enjoy a GREAT travel with us</h3>
                            <p>Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri.
                                Ei mea primis ornatus disputationi. Menandri erroribus cu per, duo solet congue ut. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/call_section-->
    </main>
    <!-- /main -->
{% endblock content %}
